@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');


* {
    font-family: 'Open Sans';
}

a {
    cursor: pointer;
    transition: .4s ease;
}
header, .stats, #skills, #aboutme, footer {
    background-color: #10151b;
}

.title-font {
    font-family: 'Montserrat';
}

.font-bold {
    font-weight: 700;
}

#home {
    img {
        filter: hue-rotate(-25deg) brightness(1.2);
    }
}

::-webkit-scrollbar {
    width: .8rem;
}
::-webkit-scrollbar-track {
    background: #2D3748;
}
::-webkit-scrollbar-thumb {
    background: #319795;
}
::-webkit-scrollbar-thumb:hover {
    background: #38B2AC;
}